<div id="service_card" class="animated flipInY stackable-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{serviceName}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{#each nodes}} 
      <div class="node {{classes}}">
        <strong>{{niceName}}</strong>
        <span>{{ServiceTags.[0]}}</span>
      </div>
    {{/each}}
  </div>
</div>


